//-- Contenido de la Sección Productos Multimarca del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title=`${id} en el Centro Comercial MAD`

block body
    include ./componentes/cabecera.pug
    .interfazProductosMAD
        br
        header
            img(src='/images/anuncio.png' alt='anuncio')
        div.row
            form(method='POST' action=`/sesion-empresa/${id}/themall/buscar`)
                div.columnIzq#posBusquedaMall
                    h3='Búsqueda a medida'
                    p='Por tipo de empresa:'
                    select#seleccionTipoEmpresaMall(name="seleccion")
                        option(checked)=''
                        option#colorServiciosRestaurante='RESTAURANTE'
                        option#colorServiciosAcademia='ACADEMIA'
                        option#colorServiciosComercio='COMERCIO'
                        option#colorServiciosPeluqueria='PELUQUERIA'
                    p='Por nombre de empresa:'
                    input#seleccionTipoEmpresaMall(type='text' name='nombre' placeholder='Búsqueda por nombre....')
                    br
                    br
                    button.btnTexto(type='submit')='Buscar'
            div.columnDer
                each empresa in empresas
                    if empresa.tipo === 'RESTAURANTE'
                        div.tarjetaProductosMALL#colorServiciosRestaurante
                            h3=empresa.marca
                            img(src=`data:image/*;base64,${empresa.logo}`)
                            br
                            br
                            form(method='GET' action=`/sesion-empresa/${id}/themall/expansion${empresa.marca}`)
                                button(type='submit')='Acceder'
                    else if empresa.tipo === 'COMERCIO'
                        div.tarjetaProductosMALL#colorServiciosComercio
                            h3=empresa.marca
                            img(src=`data:image/*;base64,${empresa.logo}`)
                            br
                            br
                            form(method='GET' action=`/sesion-empresa/${id}/themall/expansion${empresa.marca}`)
                                button(type='submit')='Acceder'
                    else if empresa.tipo === 'ACADEMIA'
                        div.tarjetaProductosMALL#colorServiciosAcademia
                            h3=empresa.marca
                            img(src=`data:image/*;base64,${empresa.logo}`)
                            br
                            br
                            form(method='GET' action=`/sesion-empresa/${id}/themall/expansion${empresa.marca}`)
                                button(type='submit')='Acceder'
                    else if empresa.tipo === 'PELUQUERIA'
                        div.tarjetaProductosMALL#colorServiciosPeluqueria
                            h3=empresa.marca
                            img(src=`data:image/*;base64,${empresa.logo}`)
                            br
                            br
                            form(method='GET' action=`/sesion-empresa/${id}/themall/expansion${empresa.marca}`)
                                button(type='submit')='Acceder'
        br
    include ./componentes/piepagina.pug