//-- Contenido de la Sección Términos y Condiciones Autenticado de las Empresas del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
  title=`${id} en Términos y Condiciones`

block body
  include ./componentes/cabecera.pug
  .interfazTermsConds
    br
    br
    div.row
      div.column
        h1='¿Qué son los términos y condiciones de uso y para qué sirven?'
        br
        br
        p='Los términos y condiciones de uso son un conjunto de reglas y declaraciones que los usuarios de la página web,'
        p='tienda online o servicio deben aceptar y seguir para poder utilizar dicha web, tienda o servicio. Es decir, son los elementos'
        p='que regulan la relación con el usuario respecto al acceso de los contenidos y servicios de la página web.'
        br
        br
        p='Los términos y condiciones uso son redactados de manera unilateral por el propietario de la web o tienda online, de manera'
        p='que no existe ningún tipo de negociación posible a disposición de los usuarios, o los aceptan como tal o no. Son, por tanto,'
        p='un contrato de adhesión.'
        br
        br
        p='Para tu tienda online, los términos y condiciones de uso sirven para establecer las reglas contractuales que permiten al usuario'
        p='conocer cuáles son las responsabilidades que asumes como titular de la web respecto al servicio que presta. Al mismo tiempo que'
        p='ponen en conocimiento del usuario sus derechos y obligaciones para poder acceder a los contenidos y servicios que ofertas.'
        br
        br
        h1='¿Por qué son importantes?'
        br
        br
        p='Aunque es cierto que mucha gente no para a leer nunca los términos y condiciones de uso de una tienda online o página web (algo que'
        p='sí deberíamos hacer siempre), la normativa legal nos exige que los incluyamos porque el usuario debe tener conocimiento de las'
        p='condiciones de contratación de un producto o servicio. Así, si los términos y condiciones de uso no están presentes o lo están,'
        p='pero redactados de forma ambigua o inadecuada, podríamos tener que hacer frene a una sanción impuesta por la autoridad de control'
        p='competente.'
        br
        br
        p='Pero hay más razones que los hacen importante; por un lado, contar con ellos genera confianza en los clientes (incluso aunque'
        p='no se detengan a leerlos en profundidad), puesto que sabe que puede consultarlos antes de realizar una compra o contratación.'
        p='De ahí también que su redacción deba ser lo más clara posible, puesto que el usuario debe conocer y entender las condiciones y'
        p='reglas a las que se somete.'
        br
        br
        p='Por otro lado, contar con unos términos y condiciones de uso claros e inequívocos nos puede ayudar frente a posibles demandas en'
        p='el futuro, ya que en ellos recogemos las responsabilidades y compromisos que asumimos como vendedores o prestadores de un servicio'
        p='(por ejemplo, gastos de envío, política de devoluciones, plazos de entrega, etc.).'
        br
        br
        h1='Normativa aplicable actualizada'
        br
        br
        p='Con los años, la normativa que se debe contemplar a la hora de redactar los términos y condiciones de uso ha ido cambiando y'
        p='ampliándose al crearse nuevas leyes para abarcar los diferentes tipos de negocios digitales que existen.'
        br
        br
        p='Así, los términos y condiciones para una tienda online en 2021 deben hacerse teniendo en cuenta las siguientes normativas que regulan: '
        br
        br
        ul 
          li='1. Los contratos.'
          br
          br
          li='2. Las condiciones generales de contratación => '
          a(href="/pdfs/Ley_7_1998.pdf" download="Ley_7_1998.pdf")='Ley 7/1998'
          br
          br
          li='3. El comercio electrónico => '
          a(href='https://ayudaleyprotecciondatos.es/2019/03/15/guia-sobre-lssi-ce-que-es-como-cumplir-la-ley-este-2019/' target="_blank")='LSSI'
          br
          br
          li='4. La propiedad intelectual e industrial => '
          a(href="/pdfs/RD_legislativo_ene_1996.pdf" download="RD_legislativo_ene_1996.pdf")='Real Decreto Legislativo 1/1996'
          br
          br
          li='5. La protección de datos => '
          a(href='https://ayudaleyprotecciondatos.es/guia-rgpd/' target="_blank")='RGPD'
          span='y'
          a(href='https://ayudaleyprotecciondatos.es/lopdgdd/' target="_blank")='LOPDGDD'
        br
        br
        p='Aparte de estas normativas, también se deben tener en cuenta aquellas específicas que regulan los productos o servicios que se venden'
        p='a través de la tienda online. Y si estos van dirigidos a particulares y no a empresas o solo empresas, también debemos contemplar la'
        p='normativa en defensa de los consumidores'
        br
        br
        h1='Modelo de Términos y Condiciones de MAD Services'
        br
        br
        a(href="/pdfs/Terminos-y-Condiciones-de-uso_MADServices.pdf", download="Terminos-y-Condiciones-de-uso_MADServices.pdf")='Descarga el Documento Oficial'
    br
    br
  include ./componentes/piepagina.pug