//-- Contenido de la Sección Expansión del Producto MAD del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title=`Visión completa del Producto MAD ${enumeracion}`

block body
    include ./componentes/cabecera.pug
    .interfazExpansionProductosMAD 
        br
        .rowExp
            .columnExp
                div.contenedorImagenes
                    div.carousel
                        if multimedia
                            each imagen in multimedia
                                if imagen
                                    img.bucleImages(src=`data:image/*;base64,${imagen}`)
                        else 
                            img.bucleImages(src=`data:image/*;base64,${imagenPortada}`)
                    i.fa-solid.fa-chevron-left.cambiarImagen#prev
                    i.fa-solid.fa-chevron-right.cambiarImagen#next
            .columnExp
                .subrowExp
                    h1=titulo
                .subrowExp
                    if cantidad === 1
                        h2#rojoExpansion=`¡Sólo queda ${cantidad} producto!`
                        h2#verdeExpansion='¡Date prisa y no esperes más!'
                    else 
                        h2#rojoExpansion=`¡Sólo quedan ${cantidad} productos!`
                        h2#verdeExpansion='¡Date prisa y no esperes más!'
                .subrowExp
                    h3='Categoria: '
                    p.seccionesExpansion=categoria
                .subrowExp
                    h3='Peso para envío: '
                    p.seccionesExpansion=peso + ' Kg/unidad'
                .subrowExp
                    h3='Precio: '
                    p.seccionesExpansion=precio + ' €/unidad'
                br
                br
                .subrowExp
                    form(method='GET' action='/registrarse/cliente')
                        button#btnExpansion(type='submit' style='cursor: pointer')='Añadir al carrito'
                br
                br
                .subrowExp
                    h3='Descripción: '
                    p.seccionesExpansion=descripcion
                br
                br
                .subrowExp
                    form(method='GET' action=`/productosmadservices`)
                        button#btnGoBackProductosMAD(type='submit')='Volver a productos MAD'
        br
        br
    include ./componentes/piepagina.pug