//-- Contenido de la Sección Iniciar Sesión como Cliente, Empresa o Miembro MAD del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title='MAD Services: Elección de Inicio de Sesión'

block body
    div.interfazPantallaEleccion
        h1='INICIAR SESIÓN COMO:'
        div.row
        div.row
        div.row
        div.row
            form(method='GET' action='/login/cliente')
                button.btnAcceso='Cliente'
            form(method='GET' action='/login/empresa')
                button.btnAcceso='Empresa'
            form(method='GET' action='/login/autorizar')
                button.btnAcceso='Miembro MAD'