//-- Contenido de la Sección Productos MAD del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title='MAD Services y sus productos'

block body
    include ./componentes/cabecera.pug
    .interfazProductosMAD
        br
        header
            img(src='/images/anuncio.png' alt='anuncio')
        div.row
            div.columnIzq
                h3='Búsqueda a medida'
                form(method='POST' action='/productosmadservices/buscar')
                    p='Por nombre del producto:'
                    input.camposInputBaja(type='text' name='titulo' placeholder='Buscar por título....')
                    p='Por tipo de producto:'
                    select(name="categoria")='Categorias'
                        option(checked)='Todo'
                        optgroup(label='Libros')
                            option='Libros infantiles' 
                            option='Libros juveniles'
                            option='Libros de historia'
                            option='Libros de naturaleza'
                            option='Libros de economía'
                            option='Libros escolares'
                            option='Libros de misterio'
                            option='Libros de salud y bienestar'
                            option='Libros religiosos'
                            option='Libros en inglés'
                            option='Poesía'
                        optgroup(label='Juegos')
                            option='Juegos de mesa'
                            option='Videojuegos'    
                        optgroup(label='Electrónica e Informática')
                            option='Consolas'
                    p='Por precio del producto:'
                    .filtroRangoPrecio
                        input(type="radio" name="precio" value='Todos' checked)
                        label='Todos los precios'
                        br
                        input(type="radio" name="precio" value='0')
                        label='0 a 10€'
                        br
                        input(type="radio" name="precio" value='10')
                        label='10 a 20€'
                        br
                        input(type="radio" name="precio" value='20')
                        label='20 a 30€'
                        br
                        input(type="radio" name="precio" value='30')
                        label='30 a 40€'
                        br
                        input(type="radio" name="precio" value='40')
                        label='40 a 50€'
                        br
                        input(type="radio" name="precio" value='50')
                        label='50 a 60€'
                        br
                        input(type="radio" name="precio" value='60')
                        label='60 a 70€'
                        br
                        input(type="radio" name="precio" value='70')
                        label='70 a 80€'
                        br
                        input(type="radio" name="precio" value='80')
                        label='80 a 90€'
                        br
                        input(type="radio" name="precio" value='90')
                        label='90 a 100€'
                        br
                        input(type="radio" name="precio" value='100')
                        label='100 a 125€'
                        br
                        input(type="radio" name="precio" value='125')
                        label='125 a 150€'
                        br
                        input(type="radio" name="precio" value='150')
                        label='150 a 175€'
                        br
                        input(type="radio" name="precio" value='175')
                        label='175 a 200€'
                        br
                        input(type="radio" name="precio" value='200')
                        label='200 a 250€'
                        br
                        input(type="radio" name="precio" value='250')
                        label='250 a 300€'
                        br
                        input(type="radio" name="precio" value='300')
                        label='300 a 350€'
                        br
                        input(type="radio" name="precio" value='350')
                        label='350 a 400€'
                        br
                        input(type="radio" name="precio" value='400')
                        label='400 a 450€'
                        br
                        input(type="radio" name="precio" value='450')
                        label='450 a 500€'
                        br
                        input(type="radio" name="precio" value='500')
                        label='500 a 600€'
                        br
                        input(type="radio" name="precio" value='600')
                        label='600 a 700€'
                        br
                        input(type="radio" name="precio" value='700')
                        label='700 a 800€'
                        br
                        input(type="radio" name="precio" value='800')
                        label='800 a 900€'
                        br
                        input(type="radio" name="precio" value='900')
                        label='900 a 1000€'
                        br
                        input(type="radio" name="precio" value='1000')
                        label='> 1000€'
                        br
                        br
                        br
                    button.btnTexto(type='submit')='Buscar'
            div.columnDer
                each campo in cartaProducto
                    div.tarjetaProductosMAD
                        h3=campo.titulo
                        img(src=`data:image/*;base64,${campo.portada}`)
                        if campo.cantidad === 1
                            h3=campo.cantidad + ' unidad queda'
                        else 
                            h3=campo.cantidad + ' unidades quedan'
                        h3=campo.precio + '€'
                        div.btnsContainer
                            form(method='GET' action='/registrarse/cliente')
                                button(type='submit')='Añadir al carrito'
                            form(method='GET' action=`/productosmadservices/expandir${campo.enumeracion}`)
                                button#btnExpandirProductoMAD(type='submit')
                                    i.fa-solid.fa-up-right-and-down-left-from-center.fa-lg#iconoExpandirProductoMAD
        br
    include ./componentes/piepagina.pug