//-- Contenido de la Sección Registrarse como Cliente, Empresa o Miembro MAD del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title='MAD Services: Elección de Registro'

block body
    div.interfazPantallaEleccion
        h1='REGISTRARSE COMO:'
        div.row
        div.row
        div.row
        div.row
            form(method='GET' action='/registrarse/cliente')
                button.btnAcceso='Cliente'
            form(method='GET' action='/registrarse/empresa')
                button.btnAcceso='Empresa'
            form(method='GET' action='/registrarse/autorizar')
                button.btnAcceso='Miembro MAD'