//-- Contenido de la Página de ERROR 404 del Comercio Electrónico MAD Services.
extends ../base.pug

block title
      title='ERROR 404 en MAD Services'

block body
      h1.Error#estatus=message
            span.Error=':'
            span.Error=error.status
      br
      br
      h2.Error#mensaje='Querido miembro de MAD Services, esta página o recurso no existe'
      h2.Error#mensaje='Disculpa las molestias'