//-- Contenido de la Sección Comprar del Comercio Electrónico.
extends ../../base.pug

block title
  title=`${id} verificando la compra`

block body
    include ./componentes/cabecera.pug
    .interfazVerificarCompra 
        br
        div.row#alturaTituloCarrito
            div.column
                i.fa-sharp.fa-solid.fa-location-dot.fa-2xl
                h1#tituloLocalizacionCliente='Dirección de envío: '
                p='__________________________________________________________________________'
                form(method='GET' action=`/sesion-cliente/${id}/perfil`)
                    div.subcolumn2
                        label=direccion + ', ' + poblacion + ', ' + region + ', ' + pais + ', ' + cp + '.'
                        button#btnEditarUbicaEnCompra(type='submit')
                            i.fa-solid.fa-square-pen.fa-2xl#iconoEditarUbicaEnCompra
                p='__________________________________________________________________________'
        div.row
            div.column
                i.fa-sharp.fa-solid.fa-cart-shopping.fa-2xl
                h1#tituloLocalizacionCliente='Compra final: '
                p='__________________________________________________________________________'
                div.verificarCarrito
                    - var total = 0;
                    - var cantidadTotal = 0;
                    each producto in carrito
                        - cantidadTotal += producto.cantidad
                        - total += parseFloat(producto.precio)
                    p='Total: ' + cantidadTotal + 'x ' + total.toFixed(2) + '€'
                p='__________________________________________________________________________'
        div.row
            div.column
                i.fa-solid.fa-credit-card.fa-2xl
                h1#tituloLocalizacionCliente='Método de pago: '
                p='__________________________________________________________________________'
                form(method='POST' action=`/sesion-cliente/${id}/carrito/comprar/pagado`)
                    if cliente
                        label='Nombre del propietario de la tarjeta: '
                        label=cliente
                        br
                        br
                    else
                        label='Nombre del propietario de la tarjeta: '
                        input.tarjetaBancariaEntradas(type="text" name="nombreTarjeta")
                        br
                        br
                    if numcard
                        label='Número de tarjeta: '
                        label=numcard
                        br
                        br
                    else
                        label='Número de tarjeta: '
                        input.tarjetaBancariaEntradas(type="number" name="numeroTarjeta")
                        br
                        br
                    if expiracion
                        label='Válida hasta: '
                        label=expiracion
                        br
                        br
                    else
                        label='Válida hasta: '
                        input.tarjetaBancariaEntradas(type="month" name="fechaExpiracion")
                        br
                        br
                    if cvv
                        label='CVV: '
                        label=cvv
                        br
                        br
                    else
                        label='CVV: '
                        input.tarjetaBancariaEntradas(type="number" name="cvv")
                        br
                        br
                    if !numcard
                        input(type='checkbox' name='saveCard')
                        label='Guardar tarjeta'
                        br
                    button#btnComprar(type='submit' name='nohayTarjeta' value=nohayTarjeta)='Pagar'
                p='______________________________________________________________________'
        div.row
            footer
                img(src='/images/anuncio.png' alt='anuncio')
                img(src='/images/anuncio.png' alt='anuncio')
        br
    include ./componentes/piepagina.pug