//-- Contenido de la Sección Sobre MAD Services Autenticado del Cliente del Comercio Electrónico.
extends ../../base.pug

block title
  title=`${id} en Conócenos`

block body
  include ./componentes/cabecera.pug
  div.interfazconoceMADs
    br
    br
    div.row
      div.column
        h1='Hablemos de MAD Services....'
        img(src='/images/conocenos.png' alt='conocenos')
        p='Todo comenzó con una idea para el TFG (Trabajo de Fin de Grado) del dueño y fundador de MAD Services:'
        p='Alejandro Fernández Pérez.'
        br
        p='La idea del proyecto consistió en la programación de una aplicación web de un Marketplace de tipo negocios a clientes,'
        p='que es una Plataforma de Comercio o Centro Comercial online desarrollado en un entorno de tiempo de ejecución de 2D'
        p='(Dos-Dimensiones) en su primera versión, que sirve para conectar, unificar y dar a conocer las empresas registradas,'
        p='pudiendo incorporar los productos y/o servicios que quieran. También funciona como una empresa más de comercio electrónico,'
        p='vendiendo sus productos propios.'
        br
        p='Este proyecto se irá desarrollando para tenerlo en 3D (Tres-Dimensiones) y RV (Realidad Virtual) en futuras versiones.'
        br
        h2='Intrahistoria de la idea'
        p='Es importante conocer la historia que hay detrás de todo proyecto, la idea que lo hizo surgir con ambición, lucha diaria y'
        p='perseverancia.'
        br
        p='Realmente, el autor de este proyecto nunca hubiera pensado en hacer una aplicación web de comercio electrónico y/o Marketplace'
        p='sin los siguientes acontecimientos que surgieron en su vida. En primer lugar, su curiosidad por las ventas empezó cuando'
        p='estuvo trabajando en las tiendas de ropa, juguetes y ultramarinos de Kalahari Resorts and Conventions en Wisconsin Dells,'
        p='Wisconsin, Estados Unidos de América. Fue durante cuatro meses, de junio 2019 a septiembre 2019, gracias al programa de'
        p='trabajo Work and Travel. En segundo lugar, a raíz de vender libros y otros productos por medio de otro comercio electrónico'
        p='existente durante la Pandemia de la Covid-19 (2020-2022). Y en tercer lugar, gracias a su experiencia durante el periodo de'
        p='seis meses de Erasmus+ en Novi Sad (Serbia), desde febrero de 2022 a julio de 2022, que recordará para siempre, donde hizo'
        p='amistad con personas asombrosas, conoció y descubrió la cultura balcánica y mejoró su inglés. Allí tuvo una asignatura sobre'
        p='servicios web y aplicaciones web, asignatura que equivaldría a Protocolos para la Transmisión de Audio y Vídeo en Internet en'
        p='su Universidad de España, donde desarrolló junto a tres compañeros serbios (en inglés, obviamente) una aplicación web de'
        p='contactos y búsqueda de empleo con su back-end y su front-end. Sinceramente, fue un proyecto muy apasionante para él y el'
        p='inicio de su pasión por el desarrollo web, lo que encaminaría a la realización de un TFG (Trabajo de Fin de Grado) sobre ello.'
        br
        p='Antes de acabar, cabe destacar que a través de sus experiencias Worldpackers, tanto en el voluntariado de organización de'
        p='campings y medios rurales de Döbriach, al sur de Austria, como en el voluntariado sobre jardinería, alimentación y medios'
        p='rurales en la ecogranja de Sammatz, cerca de Hamburgo (Alemania), descubrió la opción de ser nómada digital, es decir, de'
        p='trabajar de forma online, mientras viajas por el mundo, visitas nuevos lugares y vives nuevas experiencias.'
    br
    br
  include ./componentes/piepagina.pug