//-- Contenido de la Sección Expansión del Producto MAD por parte de los Miembros MAD del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title=`${id} viendo completamente el Producto MAD ${enumeracion}`

block body
    include ./componentes/cabecera.pug
    .interfazExpansionProductosMAD 
        br
        .rowExp
            .columnExp
                div.contenedorImagenes
                    div.carousel
                        if multimedia
                            each imagen in multimedia
                                if imagen
                                    img.bucleImages(src=`data:image/*;base64,${imagen}`)
                        else 
                            img.bucleImages(src=`data:image/*;base64,${imagenPortada}`)
                    i.fa-solid.fa-chevron-left.cambiarImagen#prev
                    i.fa-solid.fa-chevron-right.cambiarImagen#next
            .columnExp
                .subrowExp
                    h1=titulo
                .subrowExp
                    if cantidad === 1
                        h2#rojoExpansion=`¡Sólo queda ${cantidad} producto!`
                        h2#verdeExpansion='¡Date prisa y no esperes más!'
                    else 
                        h2#rojoExpansion=`¡Sólo quedan ${cantidad} productos!`
                        h2#verdeExpansion='¡Date prisa y no esperes más!'
                .subrowExp
                    h3='Categoria: '
                    p.seccionesExpansion=categoria
                .subrowExp
                    h3='Peso para envío: '
                    p.seccionesExpansion=peso + ' Kg/unidad'
                .subrowExp
                    h3='Precio: '
                    p.seccionesExpansion=precio + ' €/unidad'
                .subrowExp
                    h3='Descripción: '
                    p.seccionesExpansion=descripcion
                br
                br
                .subrowExp
                    h1='Añadir imágenes/Borrar imágenes: '
                    p='Requisitos: '
                    p='1. Sube de 1 en 1 hasta máximo 9.'
                    p='2. Formatos válidos: PNG, JPEG/JPG.'
                    p='3. Las imágenes se borran desde la última subida de 1 en 1.'
                    form.formularioAddBorrarMultimedia(method='POST' action=`/sesion-miembro/${id}/productosmadservices/expandir${enumeracion}/add-multimedia` enctype="multipart/form-data")
                        input(type='file' name='multimedia' accept='image/png, image/jpg, image/jpeg')
                        button#btnAddMultimedia(type='submit')='Añadir'
                    form.formularioAddBorrarMultimedia(method='POST' action=`/sesion-miembro/${id}/productosmadservices/expandir${enumeracion}/borra-multimedia`)
                        input(type='hidden' name='_method' value='DELETE')
                        button#btnBorrarMultimediaMAD(type='submit')
                            i.fa-solid.fa-eraser.fa-2xl#iconoBorrarMultimediaMAD
                br
                br
                .subrowExp
                    form(method='GET' action=`/sesion-miembro/${id}/productosmadservices`)
                        button#btnGoBackProductosMAD(type='submit')='Volver a productos MAD'
        br
        br
    include ./componentes/piepagina.pug